body {
  background-color: #ecf0f1; /* Replace with your preferred background color */
}


.navbar {
  background-color: #3498db;
  color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  
}

.jumbotron {
  background-color: #3498db; /* Updated background color */
  color: #ecf0f1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}

/* Styling for the animated text */
#animated-text {
  display: inline-block;
  border-right: 0.08em solid black; /* Simulates the cursor */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: visible; /* Hide overflowing characters */
  margin: 0;
  padding: 0;
}

/* Blinking cursor animation */
.cursor-blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  0%, 100% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}


.jumbotron h1 {
  font-weight: bold;
}

.lead {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.skills-pills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow pills to wrap to the next line */
}

.badge {
  margin: 0 8px;
  font-size: 0.85rem;
  padding: 12px 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Custom colors for each badge */
.badge-1 {
  background-color: #e34c26;
  color: #ebebeb;
}

.badge-2 {
  background-color: #264de4;
  color: #ebebeb;
}

.badge-3 {
  background-color: #f0db4f;
  color: #ebebeb;
}

.badge-4 {
  background-color: #9C3295;
  color: #ebebeb;
}

.badge-5 {
  background-color: #165DD9;
  color: #ebebeb;
}

.badge-6 {
  background-color: #E0AC0D;
  color: #ebebeb;
}

.badge-7 {
  background-color: #5447CA;
  color: #ebebeb;
}

.badge-8 {
  background-color: #096138;
  color: #ebebeb;
}

.badge-9 {
  background-color: #00878C;
  color: #ebebeb;
}

.badge-10 {
  background-color: #4DB5EB;
  color: #ebebeb;
}

.badge-11 {
  background-color: #FFD840;
  color: #ebebeb;
}

.badge-12 {
  background-color: #11758F;
  color: #ebebeb;
}

.badge-13 {
  background-color: #242c54;
  color: #ebebeb;
}
/* Add more custom colors for additional badges as needed */

.skills-pills > .badge {
  margin-bottom: 8px; /* Add margin bottom between the pills */
}
/* Hover effect and pulsating animation with custom glow colors */
.badge-1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #f06529;
  animation: pulse 1.5s infinite;
}

.badge-2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #2965f1;
  animation: pulse 1.5s infinite;
}

.badge-3:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #f0db4f;
  animation: pulse 1.5s infinite;
}

.badge-4:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #E084BF;
  animation: pulse 1.5s infinite;
}

.badge-5:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #56ABFB;
  animation: pulse 1.5s infinite;
}

.badge-6:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #F6DC6C;
  animation: pulse 1.5s infinite;
}

.badge-7:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #B2A2ED;
  animation: pulse 1.5s infinite;
}

.badge-8:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #8FE993;
  animation: pulse 1.5s infinite;
}

.badge-9:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #34C7D1;
  animation: pulse 1.5s infinite;
}

.badge-10:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #8BDEFC;
  animation: pulse 1.5s infinite;
}

.badge-11:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #488BBE;
  animation: pulse 1.5s infinite;
}

.badge-12:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #5ED7F6;
  animation: pulse 1.5s infinite;
}

.badge-13:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #737ad8;
  animation: pulse 1.5s infinite;
}

/* Add more hover effects for additional badges as needed */




.scroll-down-indicator {
  text-align: center;
  margin-top: 40px; /* Increased margin for more space */
  animation: bounce 2s infinite; /* Adjust the animation duration as needed */
}

.bi-arrow-down-circle {
  font-size: 2rem;
  color: #3498db; /* Adjust the color as needed */
}

/* Adjusted the spacing between the arrow and text */
.scroll-down-indicator p {
  margin-top: 10px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}


.container.hero-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s, transform 0.5s;
  background-color: #ecf0f1;
}

.container.hero-container.active {
  opacity: 1;
  transform: translateX(0);
}

.container {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover {
  transform: scale(1.05);
}


.carousel-content {
  position: relative;
}

.carousel-title-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(52, 152, 219, 0.8); /* Adjust the background color and opacity as needed */
  padding: 10px;
}

.carousel-title-box h3 {
  color: #ecf0f1;
  margin: 0;
}

.footer {
  background-color: #2ecc71;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 20px; /* Add margin-top to create space between carousel and footer */
}
  
  .navbar-brand {
    color: #ecf0f1;
  }
  
  .navbar-nav .nav-link {
    color: #ecf0f1;
  }
  
  .navbar-nav .nav-link:hover {
    color: #2ecc71;
  }
  
  .jumbotron {
    background-color: #3498db;
    color: #0b0c0c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .jumbotron p {
    color: #272a2c; /* Add text color to paragraph inside the jumbotron */
  }

  .hero-container {
    margin-top: 50px;
    padding: 50px 0;
    
    
  }
  
  .hero-container img {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow */
    
  }
  
  .hero-container h2 {
    color: #3498db;
  }
  
  .hero-container p {
    color: #555;
  }
  

  .hero-container a.btn {
    background-color: #3498db;
    color: #ecf0f1;
    transition: all 0.3s ease-in-out;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #3498db 50%, #2ecc71 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow */
    border-radius: 4px;
  }
  
  .hero-container a.btn:hover {
    transform: scale(1.05);
    background-position: right center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Lighter box-shadow on hover */
  }

  .video-thumbnail {
    position: relative; /* Ensure proper positioning of the tags */
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  
  /* Style for thumbnail image */
  .video-thumbnail img {
    width: 100%;
    border-radius: 8px; /* Rounded corners for the image */
  }
  
  /* Add hover effect to video thumbnails */
  .video-thumbnail:hover {
    transform: scale(1.05); /* Increase the size of the thumbnail on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance drop shadow on hover */
  }
  
  /* Style for tags */
  .tags {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for the tags */
    border-radius: 0 0 8px 8px; /* Rounded corners for the bottom */
  }
  
  .tags .badge {
    margin-right: 5px; /* Add space between individual tags */
    color: white; /* Text color for tags */
  }
  

  .container {
    margin-top: 20px;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .footer {
    background-color: #2ecc71;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
  }
  